html, body {
  height: 100%;
}

h1 {
  text-align: center;
}

main {
  width: fit-content;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, 0%)
}

.container {
  /* margin: 0 auto; */
  /* width: fit-content; */
  border: 1px solid #888;
  border-radius: 0.75ch;
  padding: 15px;
}

.container > * {
  margin: 0 auto;
  width: fit-content;
}

#inputCanvas, #outputCanvas {
  width: 550px;
  height: 400px;
}

svg g {
  left:0
}

.code {
  /* display:inline; */
  font-weight: bold;
  font-family: ui-monospace,SFMono-Regular,SF Mono,Menlo,Consolas,Liberation Mono,monospace;
  display:flex;
  flex-direction:row;
}

.codeparam {
  display:flex;
  flex-direction:column;
  width: fit-content;
}

.codetip {
  opacity: 0.5;
}

.arrow {
  /* all: unset; */
  height:25px;
  position:relative;
  margin:5px auto 25px auto;
  width:0;
  border-left: 3px solid black;
  border-right: 3px solid black;
}

.arrow::after {	
  top: 25px;
  content: '';
  width: 0; 
  height: 0; 
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 20px solid black;
  position: absolute;
  left: -15px;
}